body {
   
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: "Microsoft JhengHei";
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	text-decoration: none;
	color: #000;
}
a:visited{
	text-decoration: none;
	color: #000;
}
a:active{
	text-decoration: none;
	color: #000;
}
.chart_row_menu{

}
.chart_row_range{
	padding-left: 5vw;
	width: 95vw;
}
#container{
	min-width: 310px;
	max-width: 800px;
	height: 90vh;
	margin: 0 auto;
}
.chart_datepicker{
	padding-bottom: 5px;
}
.home_logo{
	width: 130px;
	margin-top: -10px;
}
.chart_form{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
}