html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Microsoft JhengHei";
}
#map {
  height: 100vh;
  visibility: hidden;
}
.marker_info{
  line-height: normal;
  font-family: "Microsoft JhengHei";
  padding:0px;   
  margin:0px;
}
.home_logo{
  width: 130px;
  margin-top: -10px;
}
.search_row_menu nav{
  margin-bottom: 0px;
  padding-bottom: 0px;
} 